:root {
    --white-bg: #F2F2F2;
    --blue-std: #25C7D9;
    --green-dark: #87BF60;
    --green-mid: #AED98F;
    --green-light: #BDD9A9;
    --text-black: #0D0D0D;

    font-family: "rawline",helvetica,arial,sans-serif;
}


nav {
    display: flex;
    background: linear-gradient(var(--green-dark), var(--blue-std));
    margin: auto;
    height: 60px;
    width: 70%;
    min-width: 300px;
    align-items: center;    
    justify-content: space-evenly;
    min-width: fit-content;
}

body {
    background-color: var(--white-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
}

h1 {
    color: var(--blue-std);
}

header {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    position: sticky;
    margin-bottom: 30px;
}

header input {
    margin: auto;
}


main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.imgIcones {
    max-height: 60px;
    margin: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: auto;
    list-style-type: none;
}

nav li, nav a {
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: linear-gradient(var(--green-dark), var(--blue-std));
    margin-top: 60px;
}

#menu-footer {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

#menu-footer li, #menu-footer a {
    text-decoration: none;
}

#contatos ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: 16px;
  }
  
  #contatos ul li, #contatos ul a {
    text-decoration: none;
    margin: 4px;
  }

p, a {
    color: var(--text-black);
}

.apoiadores {
    height: 60px;
    padding-right: 20px;
  }

  #contatos img {
    height: 30px;
  }

  #login-logoff {
    background-color: var(--blue-std);
    border-radius: 16px;
    font-weight: bold;
    color: var(--white-bg);
    width: 150px;
    padding: 2px;
    border:  1px solid var(--text-black);
  }